// Fonts
$font-primary: 'Formular', sans-serif;
$font-secondary: 'DrukTextWideCyr-Bold', sans-serif;

// Colors
$color-transparent: rgba(#000, 0);
$color-white: #fff;
$color-black: #000;
$color-yellow: #FFEB9A;
$color-yellow-active: #FFCD02;
$color-yellow-drag: #E8DAB8;
$color-green: #ABCC6D;
$color-red: #FFB4AF;

// Animations
$transition-default: .2s ease;

// Adaptive:
$base-font-size-value: 18;
$breakpoint: 1920;